.skillsLogos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
.home-container {
  background-color: #b8e7d7;
}
.education-container {
  background-color: #b8e7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.experience-container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 85vh;
  background-color: #b8e7d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-container ul li {
  margin-bottom: 8px;
  margin-top: 4px;
  padding: 10px 25px;
  border-radius: 10px;
}
.experience-container ul li:hover {
  box-shadow: 3px 1px 17px 2px rgba(37, 165, 159, 0.58);
  background-color: rgb(247, 239, 239);
}
.project-card {
  margin: 10px 10px;
}
.project-card:hover {
  box-shadow: 3px 1px 17px 2px rgba(19, 58, 102, 0.58);
  background-color: rgb(224, 216, 216);
  padding: 0.9px;
}

.project-list-container {
  padding-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b8e7d7;
}
.project-list {
  padding: 20px 10px;
  background-color: #b8e7d7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-container {
  line-height: normal;
  background-color: #b8e7d7;
  margin: 0px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.profileImg {
  margin-top: -20px;
}
.navbar li a {
  color: white;
  font-weight: 500;
  font-size: medium;
}
.py-5 {
  padding-top: 0px;
}
.contact-card {
  padding-top: 10%;
  padding-bottom: 10%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b8e7d7;
}
.contact-card .card-title {
  text-align: center;
  font-weight: bold;
}
.contact-card .card:hover {
  box-shadow: 10px 5px 27px 20px rgba(23, 23, 167, 0.13);
  border-left: 1px solid black;
  border-right: 1px solid black;
}
