.skillsLogos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  color: black;
}
.skillsLogos figure {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}
.skillsLogos figure figcaption {
  font-weight: 600;
}

.skillsLogos figure:nth-child(1) {
  animation-delay: 0s;
}
.skillsLogos figure:nth-child(2) {
  animation-delay: 1s;
}
.skillsLogos figure:nth-child(3) {
  animation-delay: 2s;
}
.skillsLogos figure:nth-child(4) {
  animation-delay: 3s;
}
.skillsLogos figure:nth-child(5) {
  animation-delay: 4s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home-container {
  background-color: #0b9b6b;
}

.education-container h3,
.about-Edu {
  animation-name: fadeUp-edu;
  animation-duration: 3s;
}
@keyframes fadeUp-edu {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.caplogo {
  animation-name: capAnimation;
  animation-duration: 2s;
  color: black;
}
@keyframes capAnimation {
  0% {
    color: rgba(255, 255, 255, 0.438);
    opacity: 0;
    transform: rotate(360deg);
  }

  100% {
    color: black;
    opacity: 1;
  }
}
.myname {
  font-family: monospace;
}
.aboutme {
  color: white;
  font-weight: 400 !important;
}
.about-section {
  animation-name: Introduction;
  animation-duration: 2s;
  position: relative;
}
@keyframes Introduction {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.education-container {
  background-color: #0b9b6b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.experience-container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 85vh;
  background-color: #0b9b6b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-container ul li {
  margin-bottom: 8px;
  margin-top: 4px;
  padding: 10px 25px;
  border-radius: 10px;
}
.experience-container ul li:hover {
  box-shadow: 3px 1px 17px 2px rgba(37, 165, 159, 0.58);
  background-color: rgb(247, 239, 239);
}
.project-card {
  margin: 10px 10px;
}
.project-card:hover {
  box-shadow: 3px 1px 17px 2px rgba(19, 58, 102, 0.58);
  background-color: rgb(224, 216, 216);
  padding: 0.9px;
}

.project-list-container {
  padding-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b9b6b;
}
.project-list {
  padding: 20px 10px;
  background-color: #0b9b6b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-container {
  line-height: normal;
  background-color: #0b9b6b;
  margin: 0px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.profileImg {
  margin-top: -20px;
  animation-name: imageAnimate;
  animation-duration: 2s;
  background-color: rgba(37, 15, 161, 0.555);
  border-radius: 50%;
}

@keyframes imageAnimate {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.navbar li a {
  color: white;
  font-weight: 500;
  font-size: medium;
}
.py-5 {
  padding-top: 0px;
}
.contact-card {
  padding-top: 10%;
  padding-bottom: 10%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b8e7d7;
}
.contact-card .card-title {
  text-align: center;
  font-weight: bold;
}
.contact-card .card:hover {
  box-shadow: 10px 5px 27px 20px rgba(23, 23, 167, 0.13);
  border-left: 1px solid black;
  border-right: 1px solid black;
}
