.skillsLogos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
.home-container {
  background-color: #b8e7d7;
}
.education-container {
  background-color: #b8e7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.experience-container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 85vh;
  background-color: #b8e7d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container {
  background-color: #b8e7d7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills-container {
  line-height: normal;
  background-color: #b8e7d7;
  margin: 0px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.profileImg {
  margin-top: -20px;
}
.navbar li a {
  color: white;
  font-weight: 500;
  font-size: medium;
}
.py-5 {
  padding-top: 0px;
}
